{
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "auto",

  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],

  "importOrder": [
    "^react$",
    "^next(/.*)?$",
    "<THIRD_PARTY_MODULES>",
    "^@auth$",
    "^@/(.*)$",
    "^@(components|constants|utils|types)(/.*)?$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,

  "tailwindStylesheet": "./src/app/globals.css",
  "tailwindFunctions": ["cn", "clsx", "cva"]
}
